@inherits RocketCatalog.Components.RocketCatalogTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketPortal.Components;
@using RocketCatalog.Components;
@using DNNrocketAPI.Components;
@using System.Globalization;

@{
    var info = new SimplisityInfo();
    var articleData = (ArticleLimpet)Model.List.First();
    if (articleData.Info != null)
    {
        info = articleData.Info;
    }
    var portalCatalog = (PortalCatalogLimpet)Model.GetDataObject("portalcatalog");
    var appThemeSystem = new AppThemeSystemLimpet(portalCatalog.SystemKey);
    var sessionParams = Model.SessionParamsData;
    var portalData = new PortalLimpet(portalCatalog.PortalId);
    var remoteModule = (RemoteModule)Model.GetDataObject("remotemodule");
    var appThemeAdmin = (AppThemeLimpet)Model.GetDataObject("appthemeadmin");
}

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/Images/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketCatalog/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/RocketThemes/" + portalCatalog.Organisation + "/" + portalCatalog.AppThemeAdminFolder + "/" + portalCatalog.AppThemeAdminVersion + "/resx/")

@RenderLanguageSelector("articleadmin_editarticle", "{\"articleid\":\"" + articleData.ArticleId + "\"}", appThemeSystem, Model)

<div id="articleedit">

    <div id="articleeditcontent" class='w3-animate-opacity '>

        <div class="w3-bar  w3-padding">
            <div class="w3-button simplisity_click" s-cmd="articleadmin_editlist" s-fields=''>@ButtonIcon(ButtonTypes.back)</div>
            <div class="w3-button w3-theme-action simplisity_click savearticlebutton langchangesave" s-before="articlerichtextSave" s-cmd="articleadmin_savedata" s-post="#articledatasection" s-list=".@articleData.ImageListName,.@articleData.DocumentListName,.@articleData.LinkListName" s-fields='{"articleid":"@articleData.ArticleId"}'>@ButtonText(ButtonTypes.save)</div>
            @if (articleData.Exists)
            {
                <div class="w3-button simplisity_confirmclick" s-confirm="@ResourceKey("DNNrocket.copy")&nbsp;?" s-cmd="articleadmin_copy" s-fields='{"articleid":"@info.ItemID"}'>@ButtonText(ButtonTypes.copy)</div>
            }
            <div class="w3-button w3-right w3-margin-right w3-red simplisity_confirmclick" s-confirm="@ResourceKey("DNNrocket.delete","","confirm")" s-cmd="articleadmin_delete" s-fields='{"articleid":"@articleData.ArticleId"}'>@ButtonText(ButtonTypes.delete)</div>
        </div>

        <div id="articledatasection" class="">
            <div class='w3-row'>
                <div class="w3-twothird w3-padding-small">
                    <div onclick="$('#generaltab').toggle();$('#generaltabexpand').toggle();" class="w3-button w3-block w3-theme-l3 w3-left-align">
                        @ResourceKey("DNNrocket.general")
                        <span id="generaltabexpand" class="material-icons w3-right" style="display:none;">
                            unfold_more
                        </span>
                    </div>
                    <div id="generaltab" class='w3-row sectionname w3-border'>
                        <div class='w3-row'>
                            <div class="w3-col m2 w3-padding">
                                <label>@ResourceKey("RC.ref")</label>
                                @TextBox(info, articleData.RefXPath, " class='w3-input w3-border' autocomplete='off' ", "", false, 0)
                            </div>
                            <div class="w3-col m10 w3-padding">
                                <label>@ResourceKey("RC.name")</label>&nbsp;@EditFlag(sessionParams)
                                @TextBox(info, articleData.NameXPath, " class='w3-input w3-border' autocomplete='off' ", "", true, 0)
                            </div>
                        </div>
                        <div class='w3-row'>
                            <div class="w3-third w3-padding">
                                @CheckBox(info, articleData.HiddenXPath, "&nbsp;" + ResourceKey("RC.hidden"), " class='w3-check' ")
                            </div>
                            <div class="w3-third w3-padding">
                                @CheckBox(info, articleData.HiddenByCultureXPath, "&nbsp;" + ResourceKey("RC.hidden") + "&nbsp;" + EditFlag(sessionParams), " class='w3-check' ")
                            </div>
                            <div class="w3-third w3-padding">
                                <label>@ResourceKey("Theme.price")</label>
                                @TextBox(info, "genxml/textbox/price", "class='w3-input w3-border'", "0")
                            </div>
                        </div>
                        <div class=" w3-row w3-padding">
                            <label>@ResourceKey("Theme.summary")</label>&nbsp;@EditFlag(sessionParams)
                            @TextArea(info, articleData.SummaryXPath, " class='w3-input w3-border' rows='3' autocomplete='off' ", "", true, 0)
                        </div>
                        <div class=" w3-row w3-padding">
                            <label>@ResourceKey("Theme.summary")&nbsp;2</label>&nbsp;@EditFlag(sessionParams)
                            @TextArea(info, "genxml/lang/genxml/textbox/articlesummary2", " class='w3-input w3-border' rows='8' autocomplete='off' ", "", true, 0)
                        </div>
                        <div class=" w3-row w3-padding">
                            @RenderTemplate("AdminExtra.cshtml", appThemeAdmin, Model, true)
                        </div>
                    </div>

                    <div onclick="$('#seotab').toggle();$('#seotabexpand').toggle();" class="w3-button w3-block w3-theme-l3 w3-left-align w3-margin-top">
                        @ResourceKey("DNNrocket.general")
                        <span id="seotabexpand" class="material-icons w3-right" style="display:none;">
                            unfold_more
                        </span>
                    </div>
                    <div id="seotab" class='w3-row sectionname w3-border'>
                        <div class='w3-row  w3-padding'>
                            <label>@ResourceKey("RC.name")</label>&nbsp;@EditFlag(sessionParams)
                            @TextBox(info, articleData.SeoTitleXPath, " class='w3-input w3-border' autocomplete='off' maxlength='70' ", "", true, 0)
                        </div>
                        <div class=" w3-row w3-padding">
                            <label>@ResourceKey("Theme.summary")</label>&nbsp;@EditFlag(sessionParams)
                            @TextArea(info, articleData.SeoDescriptionXPath, " class='w3-input w3-border' rows='2' maxlength='250' autocomplete='off' ", "", true, 0)
                        </div>
                        <div class=" w3-row w3-padding">
                            <label>@ResourceKey("Theme.tagwords")</label>&nbsp;@EditFlag(sessionParams)
                            @TextArea(info, articleData.SeoKeyWordsXPath, " class='w3-input w3-border action_tageditor' rows='2' maxlength='250' autocomplete='off' ", "", true, 0)
                        </div>
                    </div>

                </div>
                <div class="w3-third w3-padding-small">

                    <div onclick="$('#map').toggle();$('#mapexpand').toggle();" class="w3-button w3-block w3-theme-l3 w3-left-align">
                        @ResourceKey("DNNrocket.map")
                        <span id="mapexpand" class="material-icons w3-right" style="display:none;">
                            unfold_more
                        </span>
                    </div>
                    <div id="map" class='w3-row sectionname w3-border w3-padding' style="">
                        <div class='w3-row w3-padding'>
                            @CheckBox(info,"genxml/checkbox/hidemap", "&nbsp;" + ResourceKey("Theme.hidemap").ToString(), " class='w3-check' ")
                       </div>
                        <div class='w3-row'>
                            <div class='w3-col m6 w3-padding'>
                                <label>@ResourceKey("Theme.lat")</label>
                                @TextBox(info, "genxml/textbox/lat", " class='w3-input w3-border' autocomplete='off' disabled ", "", false, 0)
                            </div>
                            <div class='w3-col m6 w3-padding'>
                                <label>@ResourceKey("Theme.long")</label>
                                @TextBox(info, "genxml/textbox/long", " class='w3-input w3-border' autocomplete='off' disabled ", "", false, 0)
                            </div>
                        </div>
                        <div class='w3-row'>
                            <div style='color:red;'><b>@ResourceKey("Theme.mapmsg")</b></div>
                            <label class=""></label>
                            <div id="leafletmapselect" style="height:300px" class="w3-light-grey"></div>

                        </div>
                    </div>

                    <div onclick="$('#categoriestab').toggle();$('#categoriestabexpand').toggle();" class="w3-button w3-block w3-theme-l3 w3-left-align  w3-margin-top">
                        @ResourceKey("RC.categories")
                        <span id="categoriestabexpand" class="material-icons w3-right" style="display:none;">
                            unfold_more
                        </span>
                    </div>
                    <div id="categoriestab" class='w3-row sectionname a-articlecategorylist w3-border w3-padding' style="">
                        @RenderTemplate("ArticleCategoryList.cshtml", appThemeSystem, Model, true)
                    </div>

                    <div onclick="$('#propertiestab').toggle();$('#propertiestabexpand').toggle();" class="w3-button w3-block w3-theme-l3 w3-left-align  w3-margin-top">
                        @ResourceKey("RC.properties")
                        <span id="propertiestabexpand" class="material-icons w3-right" style="display:none;">
                            unfold_more
                        </span>
                    </div>
                    <div id="propertiestab" class='w3-row sectionname a-articlepropertylist w3-border w3-padding' style="">
                        @RenderTemplate("ArticlePropertyList.cshtml", appThemeSystem, Model, true)
                    </div>

                    <div onclick="$('#imgs').toggle();$('#imgsexpand').toggle();" class="w3-button w3-block w3-theme-l3 w3-left-align w3-margin-top">
                        @ResourceKey("DNNrocket.images")
                        <span id="imgsexpand" class="material-icons w3-right" style="display:none;">
                            unfold_more
                        </span>
                    </div>
                    <div id="imgs" class='w3-row sectionname w3-border w3-padding' style="">
                        @RenderTemplate("Articleimages.cshtml", appThemeSystem, Model, true)
                    </div>
                    @RenderTemplate("ArticleimageSelect.cshtml", appThemeSystem, Model, true)
                    <div onclick="$('#docs').toggle();$('#docsexpand').toggle();" class="w3-button w3-block w3-theme-l3 w3-left-align w3-margin-top">
                        @ResourceKey("DNNrocket.docs")
                        <span id="docsexpand" class="material-icons w3-right" style="display:none;">
                            unfold_more
                        </span>
                    </div>
                    <div id="docs" class='w3-row sectionname w3-border w3-padding' style="">
                        @RenderTemplate("ArticleDocuments.cshtml", appThemeSystem, Model, true)
                    </div>
                    @RenderTemplate("ArticleDocumentSelect.cshtml", appThemeSystem, Model, true)
                    <div onclick="$('#links').toggle();$('#linksexpand').toggle();" class="w3-button w3-block w3-theme-l3 w3-left-align w3-margin-top">
                        @ResourceKey("DNNrocket.links")
                        <span id="linksexpand" class="material-icons w3-right" style="display:none;">
                            unfold_more
                        </span>
                    </div>
                    <div id="links" class='w3-row sectionname w3-border w3-padding' style="">
                        @RenderTemplate("ArticleLinks.cshtml", appThemeSystem, Model, true)
                    </div>

                </div>
            </div>
        </div>

        <div class="w3-padding">
            @if (UserUtils.IsInRole("Administrator"))
            {
                <div class="w3-container">
                    <div class="w3-right">
                        @RenderXml(info)
                    </div>
                </div>
            }
            <i>ID: </i> @info.ItemID <i> GuidKey:</i> @info.GUIDKey
        </div>

    </div>

</div>

<script>

    var map = ""; // needs to be accessable from moveMap()

    $(document).ready(function () {
        simplisity_injectlink('https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.3/leaflet.css');
        simplisity_injectscript('https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.3/leaflet.js');
		setTimeout(() => {  simplisity_injectscript('https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/2.1.0/leaflet.ajax.min.js'); }, 1000);
        setTimeout(() => { initmap(); }, 500);
        @if (info.GetXmlProperty("genxml/textbox/long") == "")
        {
            @:setTimeout(() => { moveMap(); }, 700);
        }

        $('.action_tageditor').tagEditor({
            delimiter: ', ', /* space and comma */
            removeDuplicates: true,
            forceLowercase: false,
        });
        $('.tag-editor').height(80)

	selectMenu('categoryadmin');

    });

    function moveMap() {
        // function to move the map to correct place for this portal.
        // Values taken from the "AdminExtra.cshtml" at portal level - if it exists.
        //
        //<input id = "moveLat" type = "hidden" value = "43.958593" />
        //<input id="moveLong" type="hidden" value="2.880178" />
        //
        var moveLat = $('#moveLat').val();
        var moveLong = $('#moveLong').val();
        if (typeof moveLong !== 'undefined' && moveLong != null && moveLong != '') {
            map.setView([moveLat, moveLong], 13);
        }
    }

    function markerFunction(id) {
        for (var i in markers) {
            var markerID = markers[i].options.title;
            if (markerID == id) {
                markers[i].openPopup();
            };
        }
    }

    function initmap() {

        @{
            var gpslong = info.GetXmlProperty("genxml/textbox/long").Replace("'", "");
            var gpslat = info.GetXmlProperty("genxml/textbox/lat").Replace("'", "");
            var companyname = info.GetXmlProperty("genxml/textbox/companyname").Replace("'", "-");
            var txtdata = "";
        }

        var x = '@gpslat';
        var y = '@gpslong';
        var marker = "";
        var companyname = '@companyname';
        if (x != '' && y != '') {
            map = L.map('leafletmapselect', {minZoom: 3}).setView([x, y], 13);
            marker = L.marker([x, y], { title: companyname });
            map.addLayer(marker);
        }
        else {
            map = L.map('leafletmapselect', { minZoom: 3 }).setView([52.970731, -1.309078], zoom = 3);
        }

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        //L.tileLayer('https://maps.wikimedia.org/osm-intl/{z}/{x}/{y}{r}.png', {
        //    attribution: '<a href="https://wikimediafoundation.org/wiki/Maps_Terms_of_Use">Wikimedia</a>',
        //}).addTo(map);

        var lat, lng;

        map.addEventListener('mousemove', function (ev) {
            lat = ev.latlng.lat;
            lng = ev.latlng.lng;
        });

        $("#leafletmapselect").unbind("dblclick");
        $("#leafletmapselect").dblclick(function (event) {
            $('#lat').val(lat.toFixed(6));
            $('#long').val(lng.toFixed(6));
            if (marker !== "") {
                map.removeLayer(marker)
            }
            marker = L.marker([lat, lng], { title: companyname });
            map.addLayer(marker);

            return false; // To disable default popup.
        });

    }

</script>
